mixin largePicture(src, caption)
  .large-picture-container
    img.large-picture(src=src)
    .picture-caption= caption

mixin linkedPicture(link, src, caption, classModifier='photography')
  a.linked-picture-container(href=link)
    img.linked-picture(class=classModifier src=src)
    .linked-description= caption

mixin commentedPicture(src, id, link, caption, description)
  .work-profile-box
    img.interests-img(src=src)
    .work-description
      a(id=id href=link)
        strong= caption
      br
      = description
